.card {
    display: grid;
    width: min(300px, 90vw);
    height: auto;
    grid-template-rows: auto 60px 30px 40px 50px;
    border-radius: 10px;
    gap: 8px;
    color: #929090;
    margin: 1em 0.5em;
    padding: 0.5em 0.5em;
    background-color: #3c3c3c;
    box-shadow:  inset 0 1px 8px #ffffff70,  0 8px 10px #00000030,
    0 6px 10px #00000015;
}

#title {
    grid-row: 1 / 2;
    font-weight: 800;
    text-align: center;
    align-content: center;
    justify-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px;
}

#author {
    grid-row: 2 / 3;
}

#pages {
    grid-row: 3 / 4;
}

#statusbarContainer {
    display: grid;
}

.statusText  {
    margin: 0;
}

#cardBtns {
    display: flex;
    justify-content: space-around;
}
#cardBtns button {
    width: 100px;
    height: 40px;
    border-radius: 0.5em;
    background-color: oklch(0.7 0 264);
}

p, h4 {
    margin: 0;
}