@media (max-width: 600px) {
    #popup {
        width: 95vw;           
        padding: 1rem;         
        border-radius: 16px;   
        max-width: 95vw;       
        top: 50%;              
        transform: translate(-50%, -50%);
    }

    #inputContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-start;
        align-items: stretch;
  }

    #inputContainer > div {
    width: 100%;
    grid-column: auto;
    grid-row: auto;
  }

    input {
        max-width: 100%;
    }

    #inputBtns {
        grid-column: auto;
        grid-row: auto;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #inputBtns button {
    width: 45%; 
    min-width: 100px;
    }

    .switch {
    width: 60px;
    height: 32px;
    }

  .slider::before {
    height: 26px;
    width: 26px;
    }
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 90vw;
    min-height: auto;
    background-color: oklch(0.3 0 264);
    border-radius: 4px 32px;
    padding: 4rem;
    box-shadow: inset 0 1px 8px #ffffff70,  0 8px 10px #00000030,
    0 6px 10px #00000015;
}

#inputContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-weight: 800;
    font-size: 1.2rem;
    justify-content: center;
}

#inputAuthor,
#inputTitle,
#inputPages,
#inputCurrPage {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

#finished {
    width: 40px;
    height: 40px;
    display: flex;
    align-self: center;
}

#inputStatus {
    display: flex;
    flex-direction: row;
    align-items: end;
}

#inputBtns {
    display: flex;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-content: space-evenly;
    align-items: center;
}

#inputClose {
    display: flex;

}

#inputSubmit {
    display: flex;


}

.hidden {
    display: none;
}

input {
    background-color: rgb(112, 111, 109);
    border-radius: 8px;
    border: solid 4px rgba(112, 111, 109, 0);
    color: rgb(255, 255, 255);
}

#inputBtns button {
    width: 100px;
    height: 40px;
    border-radius: 0.5em;
    background-color: oklch(0.7 0 264);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-right: 0.5rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #888;
  border-radius: 28px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 29px;
  width: 29px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: oklch(0.6 0 264);
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}