body {
    max-width: 100dvw;
    max-height: 100dvh;
    margin: 0;
    background-color: #f5f5dc;
}
#main {
    display: grid;
    grid-template-rows: 5;
    grid-row: 1fr 5fr 1fr;
}

#header {
    display: grid;
    height: 20dvh;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.hidden {
    display: none;
}

#popup {
    position: fixed;
    background-color: #f0ede5;
    width: 1000px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}


#inputContainer {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    align-items:center
}

#inputAuthor {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 1em;
}

#inputPages {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    gap: 1em;
}

#inputAllPage {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-auto-flow: column;
}

#inputCurrPage {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-auto-flow: column;
}

#inputStatus {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-items: center;
    grid-auto-flow: column;
}

#submitBtns {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#library {
    display: grid;
    height: 65dvh;

}

.card {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid 5px black;
    gap: 1em;
    margin: 1em;
}

#footer {
    display: grid;
    height: 5dvh;
    align-items: end;
    justify-content: center;
}