body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #929090;
    flex:1;
    background-color:#242424
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 800;
}

#headerText {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#newBook {
    display: flex;
    padding: 1em;
    box-shadow:  0 4px 6px #302e2e, inset 0 6px 4px #ffffff46;;
    background-color: #302e2e;
}

#newBook button {
    margin-left: 5%;
    width: 100px;
    height: 40px;
    border-radius: 0.5em;
    background-color: oklch(0.7 0 264);
}

#library {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    padding: 1rem;
}

#footer {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 1rem;
}

